#%RAML 1.0
---
title: Notifications
version: 1.0

protocols: [ HTTPS ]
baseUri: http://api.service.hmrc.gov.uk

documentation:
 - title: Overview
   content: !include docs/overview.md
 - title: Versioning
   content: !include https://developer.service.hmrc.gov.uk/api-documentation/assets/common/docs/versioning.md
 - title: Errors
   content: !include https://developer.service.hmrc.gov.uk/api-documentation/assets/common/docs/errors.md

mediaType: application/json

uses:
  sec: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/securitySchemes.raml

/customs/statements:
  /metadata:
    post:
      description: |
        This resource sends new document notifications which are stored in Mongo. Customs financials frontend utilises the stored data to send email notifications and in-service notifications.
      securedBy: [ sec.x-application ]
      body:
        application/json:
          example:
            [
              {
              "eori": "GB12368739854792",
              "fileName": "vat-2018-02.pdf",
              "fileSize": 66944,
              "metadata": [
                {
                  "metadata": "PeriodStartYear",
                  "value": "2018"
                },
                {
                  "metadata": "PeriodStartMonth",
                  "value": "2"
                },
                {
                  "metadata": "FileType",
                  "value": "PDF"
                },
                {
                  "metadata": "FileRole",
                  "value": "C79Certificate"
                }
              ]
            }
            ]
      responses:
        200:
          body:
            application/json:
              description: Valid response
              example: |
                {
                  "Status" : "Ok"
                }
        400:
           body:
            application/json:
              example: |
                {
                   "errors":
                  [
                    {
                      "path": "obj[0].fileType",
                      "error": "error.path.missing"
                    }
                  ]
                }

